h1{
    text-align: center;
    color: rgb(255, 0, 0);
}

h3{
    text-align: center;
    color: rgb(14, 14, 73);
    font-size: 150%;
}

p{
    margin-right: 400px;
    margin-left: 200px;
    text-align: center;
 
}

body{
    background-color: rgb(100, 236, 196);
}